QualityControlExperiments/results/
QualityControlExperiments/test.py
QualityControlExperiments/test_images.ipynb

simclr/__pycache__/
backbone/__pycache__/
# Pycharm
.idea

# VS Code
.vscode/

# Jupyter NB Checkpoints
.ipynb_checkpoints/
QualityControlExperiments/.ipynb_checkpoints/
